<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmedaProducts</title>
</head>
<body>
    <main>
   <h1>Created Product</h1>
   <p>The product has been successfully created.</p>
   <p>Name: {{title}}</p>
   <p>Description: {{description}}</p>
   <p>Price: {{price}}</p>
   <p>Stock: {{stock}}</p>
   <img src="{{thumbnail}}" alt="" />
   <p>Owner: {{owner}}</p>

</main>
</body>
</html>