<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ConfirmedPurchase</title>
</head>
<body>
   <main>
   <h1>Purchase Confirmation</h1>
   <p>Your order has been successfully created.</p>
   <p>Purchase order: {{ticket}}</p>
   <p>The total of your purchase is: {{amount}}</p>
   <p>The delivery address is: {{deliveryAddress}}</p>
   <p>The contact phone number is: {{contactPhone}}</p>
   <p>The products are: {{productsBuyed}}</p>
</main>
</body>
</html>
